@use './variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    min-height: 100vh;
    overflow: hidden;
    font-family: $main-font;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}
