.main {

    &__header {
        height: 20vh;
    }

    &__nav {
        width: 50rem;
        height: 50%;
    }

    &__list {
        width: 100%;
        height: 100%;
    }

    &__list-item {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

    &__title-container {
        height: 50%;
    }
}